<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Facebook Demo</title>
	</head>
	
	<body>
	
<!--		<h2>This Facebook feed belongs to <span th:text="${profile.name}">NAME</span></h2>-->

<!--		<th:block th:each="post : ${feed}">-->
<!--			<h4 th:text="${post.story}">STORY</h4>-->
<!--			<p th:text="${post.message}">MESSAGE</p>-->
<!--			<hr/>-->
<!--		</th:block>-->

<!--		<th:block th:each="pa : ${page}">-->
<!--			<h4 th:text="${pa.id}">ID</h4>-->
<!--			<p th:text="${pa.name}">NAME</p>-->
<!--			<hr/>-->
<!--		</th:block>-->

		<th:block th:each="rev : ${reviews}">
			<p th:text="${rev.getReviewText()}">REVIEW_TEXT</p>
			<p th:text="${rev.getReviewer().getName()}">REVIEW_TEXT</p>
			<img th:src="${rev.getReviewer().getPicture().getUrl()}" alt="photo">
			<hr/>
		</th:block>

<!--		<th:block th:each="page : ${pageAccessToken}">-->
<!--			<p th:text="${page}">TOKEN</p>-->
<!--			<hr/>-->
<!--		</th:block>-->

	</body>
</html>